@media (max-width:1750.67px) {
    /* .firstnavigation-div{ 
       background-color: red;
    }*/
    .image-size{
        width: 400px;
        height: 400px;
    }
    .firstblock-width{
        width: 100%;
        margin: 0%;
    }
    .third-block{
        width: 100%;
        margin: 0%; 
    }
    .fourth-section{
        width: 100%;
        margin: 0%; 
    }
    .image-size{
        display: none;
    }
    
}

@media (max-width:1024px) {
    .firstnavigation-div{
        display: none;
     }
    .sectionmain-div{
        flex-direction: column;
        justify-content: none;
    }
    .image-size{
        display: none;
    }
    .section-maindiv{
        justify-content: center;
    }
    .section-leftblock{
        justify-content: center;
        align-items: center;
    }
    .second-section{
        justify-content: center;
    }
    .titles-div{
        margin-left: 14px;
        
    } 
    
}
@media (max-width:866px){
     .fourth-section{
    
        flex-direction: column;
        align-content: center;
        justify-content: center;
     }
     .center-block2{
        font-size: 24px;
     }
     

}
@media (max-width:689px){
   
    .center-block2{
        font-size: 25px;
    }
    .section-leftblock{
        font-size: 38px;
    }
    .span-class{
        display: flex;
        justify-content: center;
    }
    .center-block3{
        display: none;
    }
    
}
@media (max-width:480px) {
    .secondspan-class{
        display: flex;
        justify-content: center;
    }
    .thirdspan-class{
        display: flex;
        justify-content: center;
    }
    
}
@media (max-width:418px){
    .fourth-section{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        
    }
    .left-div4{
        width: 70%;
      }
    .middle-div4{
        width: 70%;
      } 
    .right-div4{
        width: 70%;
      } 
    .secondleft-div4{
        width: 70%;
      } 
    .secondmiddle-div4{
        width: 70%;
      }
    .secondright-div4{
        width: 70%;
      }            
  }

