/*HEADER*/
.blue{
	color: #3D37F1;
	font-size: 36px;
	font-family: 'IBM Plex Sans';
}
.gray{
	color:#4B647E;
	font-size: 36px;
	padding-left: 7px;
}

 .firstblock-width{  
	 width: 1700px;
     margin: 0 auto;  
}    
.titles-div{
	display: flex;
	
}


.firstitle-div{
	margin-top: 64px;
	display: flex;
	align-items: baseline;
    justify-content: space-between;
	flex-wrap: wrap; 
}
.firstnavigation-div{
	display: flex;
 

}
.navigation-div{
	display: flex;
/*	align-items: baseline;*/


}
.li-block{
	padding-left: 43px;
	color: #3D37F1;
	font-size: 20px;
	font-family: 'IBM Plex Sans';
}
/*first-section*/
/* .firstblock-width{
	width: 1700px;
	margin: 0 auto;	
} */
.section-leftblock{
	font-size: 78px;
	display: flex;
	font-family: 'IBM Plex Sans';
	color: #534D4D;
	flex-direction: column; 
		   
}
.image-size{
	display: flex;
	width: 801px;
	height: 526.63px;
	
}
.section-maindiv{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: flex-end;
	margin-top: 277px; 
}
.description{
	font-size: 	22px;
	margin-top: 39px;	 

}
/*second-section*/
.second-section{
	margin-top: 180px;
	display: flex;
	background: #3D37F1;
	width:263.67px ;
	height:76.77px ;
	border-radius: 38px;
	color: #fff;
	font-size: 22px;
	align-items: center;
	margin-bottom: 72px;
	justify-content: center;
	justify-content: space-evenly;	
}
.image-hand{
	width:31px;
	height: 31px;
}

/*third-section*/
.third-block{
	width: 1700px;
	margin: 0 auto;
	background:#FBFCFD;
	border-radius:44px;
}
.thirddiv_block{
	display: flex;
	justify-content: center;
}
.third-sectiondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.center-block1{
	margin-top: 85px;
	font-size: 20px;
	color: #3D37F1;
    padding-bottom: 15px;
	font-family: 'IBM Plex Sans';

}
.center-block2{
	font-size: 40px;
	color: #5A5454;
    padding-bottom: 15px;
	font-family: 'IBM Plex Sans';  
}
.center-block3{
	font-size: 18px;
	color: #747474;

}
/*fourth-section*/
.fourth-section{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 1200px;
	margin: 0 auto;
	flex-wrap: wrap;
	
}
.left-div4{
	display: flex;
	margin-top: 67px;
/*	margin-bottom: 67px;*/
	flex-direction: column;
	width: 370px;
	height: 451px;
	background: #FBBA77;
    align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	border-radius:33px;
}
.image-sizefourth{
	width: 100px;
	height: 99.89px;
}
.h3section-fourth{
	color: #fff;
	text-align: center;
}
.read-more{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 131px;
	height: 45px;
	background: #fff;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 23px;
}
.active{
	font-size: 25px;
}
.middle-div4{
	display: flex;
	margin-top: 67px;
/*	margin-bottom: 67px;*/
	flex-direction: column;
	width: 370px;
	height: 451px;
	background: #41EAE3;
    align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	border-radius:33px;
}
.right-div4{
	display: flex;
	margin-top: 67px;
/*	margin-bottom: 67px;*/
	flex-direction: column;
	width: 370px;
	height: 451px;
	background:#69529F;
    align-items: center;
	justify-content: center;
	justify-content: space-evenly;
    border-radius:33px;
}
.secondleft-div4{
	display: flex;
	margin-top: 67px;
	margin-bottom: 88px;
	flex-direction: column;
	width: 370px;
	height: 451px;
	background:#4386D2;
    align-items: center;
	justify-content: center;
	justify-content: space-evenly;
    border-radius:33px;
}
.secondmiddle-div4{
	display: flex;
	margin-top: 67px;
	margin-bottom: 88px;
	flex-direction: column;
	width: 370px;
	height: 451px;
	background:#A5A2F6;
    align-items: center;
	justify-content: center;
	justify-content: space-evenly;
    border-radius:33px;
}
.secondright-div4{
	display: flex;
	margin-top: 67px;
	margin-bottom: 88px;
	flex-direction: column;
	width: 370px;
	height: 451px;
	background:#FF8088;
    align-items: center;
	justify-content: center;
	justify-content: space-evenly;
    border-radius:33px;
}
.more2{
	background: #41EAE3;
	border-color: #fff;
	color: #fff;
}
.more3{
	background: #A5A2F6;
	border-color: #fff;
	color: #fff;
}

