/*HEADER*/
.blue{
	color: #3D37F1;
	font-size: 36px;
	font-family: 'IBM Plex Sans';
}
.gray{
	color:#4B647E;
	font-size: 36px;
	padding-left: 7px;
}

.firstblock-width{
	width:1920px;
	margin: 0 auto;
}
.titles-div{
	display: flex;
}


.firstitle-div{
	margin-top: 64px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.firstnavigation-div{
	display: flex;
 

}
.navigation-div{
	display: flex;
/*	align-items: baseline;*/


}
.li-block{
	padding-left: 43px;
	color: #3D37F1;
	font-size: 20px;
	font-family: 'IBM Plex Sans';
}
/*first-section*/
.firstblock-width{
	width:1920px;
	margin: 0 auto;	
}
.section-leftblock{
	font-size: 78px;*/
	display: flex;
	font-family: 'IBM Plex Sans';
	color: #534D4D;
	flex-direction: column;
		   
}
.image-size{
	display: flex;
	width: 801px;
	height: 526.63px;
	
}
.section-maindiv{
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	margin-top: 277px;
}
.k3k3{
	font-size: 	22px;
	margin-top: 39px;

	

}
/*second-section*/
.second-section{
	display: flex;
	background: #3D37F1;
	width:263.67px ;
	height:76.77px ;
	border-radius: 38px;
	color: #fff;
	font-size: 22px;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	

}
